APP_NAME=DS-OCR2-3090-Runner
APP_ENV=local
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=dsocr
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
STORAGE_ROOT=./storage
OCR_BACKEND=stub
QUEUE_VISIBILITY_TIMEOUT_SECONDS=900
WORKER_ID=local-worker
